In [5]:
d = dict() # tạo 1 dict rỗng
d[5] = "five" # thêm 1 cặp key-value vào dictionary
d[2] = "two" #  thêm một cặp key-value khác vào dictionary d. Key là số nguyên 2, và giá trị là chuỗi 'two'
d["pi"] = 3.1415926 # Dòng này thêm một cặp key-value khác vào dictionary d. Key là chuỗi pi, và giá trị là số thực "3.1415926"
print(d) # in ra toàn bộ nội dung của dictionary
print(d["pi"]) # in ra giá trị của pi là 3.1415926

{5: 'five', 2: 'two', 'pi': 3.1415926}
3.1415926

In [6]:
s = {2,1} # khởi tạo giá trị của set
print(type(s)) # in ra kiểu dữ liệu của s
s.add(3) # thêm giá trị 3 vào set được set mới s={1,2,3}
s.add(2) # thêm giá trị 2 vào set nhưng 2 đã có trong set nên s không thay đổi s={1,2,3}
s.add(2)
s.add(2)
print(s)

<class 'set'>
{1, 2, 3}

In [8]:
a = "a string" # khai báo chuỗi gán cho biến a
b = ["my", "second", "favorite", "list"] #danh sách list gán cho biến b
c = (1, "tuple") # một tuple gán cho biến c
d = {"a": "b", "b": 2, "c": False} # một từ điển dictionary gán cho biến d
e = {1,2,3,4,4,4,4,2,2,2,1} # một tập hợp set gán cho biến e
print(len(a), len(b), len(c), len(d), len(e)) # dùng "len" để in ra độ dài của các biến "a,b,c,d,e"

8 4 2 3 4

In [9]:
a = "a string" # khai báo chuỗi gán cho biến a
b = ["my", "second", "favorite", "list"] # mộ danh sách list gán cho biến b
c = (1, 2,3,"tuple") # một tuple gán cho biến c
print(a[3:7]) #sử dụng slicing để trích xuất 1 phần của chuỗi a
print(a[1:-2])# trích xuất các ký tự từ chỉ số 1 đến chỉ số -2
print(b[1:])# trích xuất các phần tử từ vị trí thứ 1 đến cuối danh sách
print(c[:2])#trích xuất các phần tử từ đầu của tuple c đến chỉ số 2

trin
 stri
['second', 'favorite', 'list']
(1, 2)

In [13]:
mylist = [1,3,5]
mytuple = (1, 2, "skip a few", 99, 100)
myset = {"a", "b", "z"}
mystring = "abracadabra"
mydict = {"a": 96, "b": 97, "c": 98}
for item in mylist:
  print(item)
for item in mytuple:
  print(item)
for element in myset:
  print(element)
for character in mystring:
  print(character)
for key in mydict:
  print(key)
for key, value in mydict.items():
  print(key, value)
for value in mydict.values():
  print(value)
for i in range(10):
  j = 10 * i + 1
  print(j, end=" ")

1
3
5
1
2
skip a few
99
100
b
z
a
a
b
r
a
c
a
d
a
b
r
a
a
b
c
a 96
b 97
c 98
96
97
98
1 11 21 31 41 51 61 71 81 91